@keyframes fall {
  from {
    transform: translateY(-200%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fallHeading {
  from {
    transform: translateY(200%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateY(200px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes shadow-grow {
  from {
    transform: scale(0%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: scale(100%);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hovering {
  0% {
    transform: translateY(0%);
    visibility: visible;
  }
  50% {
    transform: translateY(3%);
    visibility: visible;
  }
  0% {
    transform: translateY(0%);
    visibility: visible;
  }
}

// dimensions 3840 x 2160

.fullscreen {
  box-sizing: border-box;
  height: 3840px;
  width: 2160px;
  border: 50px solid green;
}
.grid-container {
  box-sizing: border-box;
  margin: auto 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 10), 1fr));
  width: 70%;
  row-gap: 30px;
  max-width: 2000px;
  height: 700px;
}

.grid-item {
  /* border:2px solid green; */
  perspective: 20px;
  display: flex;
  justify-content: center;
  aspect-ratio: 1 /1;
  align-items: center;
  animation-name: hovering;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

#effect {
  position: absolute;
  width: 80px;
  top: 100px;
  height: 200px;
  background: yellow;
  border: 1px solid gray;
}
.heading {
  -webkit-text-stroke: 5px white;

  margin-top: -100px;
  margin-left: 100px;
  /* text-align: center; */
  font-size: 10rem;
  font-family: "Luckiest Guy", sans-serif;
  text-shadow: 2px 2px 10px lightgray;
  animation-name: fallHeading;
  visibility: hidden;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.refreshing {
  -webkit-text-stroke: 5px white;

  margin-top: -100px;
  margin-left: 100px;
  /* text-align: center; */
  font-size: 10rem;
  font-family: "Luckiest Guy", sans-serif;
  text-shadow: 2px 2px 10px lightgray;
  animation-name: fallHeading;
  visibility: hidden;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.ball {
  perspective: 100px;
  text-align: center;
  z-index: 10;
  height: 150px;
  width: 150px;
  border-radius: 75px;
  font-size: 6rem;
  color: white;
  align-content: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  visibility: hidden;
  animation-name: fall;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.percent {
  font-size: 2.5rem;
  margin-top: -20px;
  mix-blend-mode: screen;
  transform: rotateX(-20deg);
  transform-style: preserve-3d;

  -webkit-text-stroke: 2px darkgray;
  color: gray;
}
.skew {
  font-size: 5rem;
  mix-blend-mode: screen;
  -webkit-text-stroke: 5px darkgray;
  transform: rotateX(20deg);
  transform-style: preserve-3d;
  color: rgba(200, 50, 50, 0.7);
  color: gray;
  margin-top: 10px;
}
.shadow {
  mix-blend-mode: multiply;
  width: 50%;
  max-width: 100px;
  height: 50px;
  background: #e4e2e2;
  z-index: 0;
  filter: blur(5px);
  border-radius: 50px;
  box-shadow: 2px 2px 100px gray;
  visibility: hidden;
  animation-name: shadow-grow;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  /* display: flex; */
  z-index: -20;
  height: 3440px;
  width: 2160px;
  flex-direction: column;
  background-image: url("./assets/LOTTERYBACKGROUND.jpg");
  margin-top: 0px;
}
.hot {
  background-image: linear-gradient(
      0deg,
      rgba(54, 5, 5, 0.5) 0%,
      rgba(113, 25, 24, 0) 50%,
      rgba(177, 66, 64, 0) 60%,
      rgba(255, 200, 200, 0.5) 100%
    ),
    radial-gradient(
      circle,
      rgba(252, 216, 146, 1) 0%,
      rgba(231, 140, 19, 1) 38%,
      rgba(231, 19, 27, 1) 63%,
      rgba(191, 20, 26, 1) 100%
    );
  box-shadow: 1px 1px 15px orangered;
}
.cold {
  box-shadow: 1px 1px 15px skyblue;
  background: linear-gradient(
      0deg,
      rgba(54, 5, 5, 0.5) 0%,
      rgba(113, 25, 24, 0) 50%,
      rgba(177, 66, 64, 0) 60%,
      rgba(255, 200, 200, 0.5) 100%
    ),
    radial-gradient(
      circle,
      rgba(200, 205, 245, 1) 0%,
      rgba(30, 173, 218, 1) 35%,
      rgba(68, 130, 227, 1) 90%,
      rgba(16, 197, 255, 1) 100%
    );
}

.bullseye {
  background-image: linear-gradient(
      0deg,
      rgba(54, 5, 5, 0.5) 0%,
      rgba(113, 25, 24, 0) 50%,
      rgba(177, 66, 64, 0) 60%,
      rgba(255, 200, 200, 0.5) 100%
    ),
    radial-gradient(
      circle,
      rgba(136, 10, 10, 1) 0%,
      rgba(150, 9, 9, 1) 29%,
      rgba(241, 3, 0, 1) 31%,
      rgba(223, 50, 47, 1) 53%,
      rgba(136, 10, 10, 1) 55%,
      rgba(136, 10, 10, 1) 79%,
      rgba(223, 50, 47, 1) 80%,
      rgba(223, 50, 47, 1) 100%
    );
}
.video {
  filter: hue-rotate(-90deg);
}
